/******** Main CSS File ****************/

body{
    background-image: url(../img/background_dark.png);
}

#title{
    margin-top: 50px;
    margin-right: 40%;
    margin-left: 40%;

    font-size: 2.5em;
    color: #bdc3c7;
    font-family: 'Lato', sans-serif;
    text-align: center;

    padding-bottom: 10px;
    box-shadow: 0 10px 10px -10px #7f8c8d;
}

#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    display: block;
    background-color: white;
}

#debugDiv{
    height: 200px;
    overflow-y: scroll;
    background-color: #44cc88;
    color: #FFF;
    font-weight: bold;
    font-size: 0.8em;
}